:root {
    --orange-main: #f35001;
    --orange-light: #feaf17;
    --yellow-main: #fee71a;
    --green-main: #5c7944;
    --green-light: #abcb42;
    --primary-bg: #bee5b0;
    --secondary-bg: #ffffa5;
}
