.loading-animation {
    background: var(--primary-pg);
    fill: var(--orange-main);
    width: var(--size);
    height: var(--size);
    animation: spin 1s linear infinite;
}

.loading-animation-container {
    --size: 50px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

main > .loading-animation-container {
    margin-top: calc(var(--size) * 3);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

