nav.next-previous-arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: xx-large;
    width: 100%;
}
.top-arrows {
    top: 0;
}

.bottom-arrows {
    margin-top: auto;
    bottom: 0;
}

.right-arrow {
    margin-left: auto;
    right: 0;
}

.left-arrow {
    margin-left: 0;
}

.arrow {
    text-decoration: none;
    display: block;
}

.arrow-icon {
    fill: var(--green-main);
    height: 50px;
    width: 50px;
}

.arrow-icon:hover {
    fill: var(--orange-main);
}
