.recipe-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}

.recipe-card {
    background-color: var(--secondary-bg);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
}

.recipe-card > .info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.recipe-card > .name {
    font-size: x-large;
}
