.recipe-tags {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}
.recipe-tag {
    background-color: var(--orange-light);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    /* color: var(--orange-main); */
}

.recipe-tag:hover {
    background-color: var(--orange-main);
    color: var(--orange-light);
}
