/*** imports ***/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

/*** end imports ***/

/*** theme ***/
:root {
    --orange-main: #f35001;
    --orange-light: #feaf17;
    --yellow-main: #fee71a;
    --green-main: #5c7944;
    --green-light: #abcb42;
    --primary-bg: #bee5b0;
    --secondary-bg: #ffffa5;
}
/*** end theme ***/

/*** layout ***/
:root {
    --navbar-height: 50px;
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    outline: red solid;
    background-color: var(--green-light);
}

div#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: auto;
}

footer {
    flex: none;
}

nav#navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    position: fixed;
    width: 100%;
    min-width: 320px;
    height: var(--navbar-height);
    z-index: 1;
    background: var(--green-light);
}

.navbar-logo {
    margin-inline-start: 1vw;
    margin-inline-end: auto;
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.navbar-logo > img {
    height: 2.5rem;
    width: 2.5rem;
}

.navbar-link {
    display: block;
    text-align: center;
    padding: 10px;
    background: var(--green-light);
    min-width: 5vw;
}

.navbar-link:hover {
    filter: brightness(90%);
    color: var(--yellow-main);
    text-shadow: none;
}

.navbar-icon {
    fill: var(--orange-main);
}

a.navbar-link-active .navbar-icon {
    fill: var(--orange-main);
}

main {
    padding: 10px;
    background: var(--primary-bg);
    margin-top: var(--navbar-height);
    flex: auto;
}

footer {
    text-align: center;
    padding: 10px;
    background: var(--green-main);
    color: var(--primary-bg);
    flex: none;
}

footer a,
footer a:visited {
    color: var(--green-light);
}

footer a:hover,
footer a:visited:hover {
    color: var(--yellow-main);
}

footer a:active,
footer a:visited:active {
    color: var(--green-light);
}

footer {
    bottom: 0;
}

/*** end layout ***/

/*** text and links ***/

body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--orange-main);
    text-align: center;
}

h1 {
    font-size: 3rem;
}

a,
a:visited {
    color: var(--green-main);
    text-decoration: none;
}

a:hover,
a:visited:hover {
    color: var(--orange-main);
}

a:active,
a:visited:active {
    color: var(--yellow-main);
}

/*** end text and links ***/

/*** scrollbar ***/

/* html {
    overflow-y: overlay;
} */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--primary-bg);
    width: 10px;
    margin-top: var(--navbar-height);
}

::-webkit-scrollbar-thumb {
    background: var(--orange-main);
    outline: red;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    filter: brightness(50%);
}

/*** end scrollbar ***/

dialog {
    background-color: var(--primary-bg);
    border-color: var(--orange-main);
    border-radius: 10px;
}

dialog::backdrop {
    filter: brightness(80%);
    background-color: rgba(92, 121, 68, 0.8);
}

