.util-centered {
    text-align: center;
}

.util-row-flexend {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.util-clickable {
    cursor: pointer;
}

.util-icon {
    fill: var(--orange-main);
    height: 24px;
    width: 24px;
}

.util-icon:hover {
    transform: scale(1.2);
}

.util-noselect {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

