.recipe-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    /* display: flex;
    flex-direction: column; */
    gap: 10px;
}

.recipe-card {
    background-color: var(--secondary-bg);
    border-radius: 10px;
    display: grid;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
}

.recipe-card:hover {
    filter: brightness(99%);
    transform: scale(1.01);
}

.recipe-card-stats {
    display: flex;
    flex-direction: row;
}

.recipe-card-stats > div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.recipe-card-name {
    font-size: 3rem;
    text-align: center;
}

.recipe-card-byline {
    font-size: larger;
    text-align: center;
}

.recipe-card-description {
    text-align: center;
}

.recipe-cards-carousel-container {
    display: flex;
    align-items: center;
}

.recipe-cards-carousel-container > .arrow {
    cursor: pointer;
    background-color: var(--orange-light);
    border-radius: 100%;
    padding: 5px;
}
.recipe-cards-carousel-container > .arrow > svg {
    fill: var(--green-main);
}

.recipe-cards-carousel-container > .arrow:hover {
    background-color: var(--orange-main);
    transform: scale(1.15);
}
.recipe-cards-carousel-container > .arrow:hover > svg {
    fill: var(--yellow-main);
}

.recipe-cards-carousel-container > .arrow.prev {
    margin-right: 10px;
}

.recipe-cards-carousel-container > .arrow.next {
    margin-left: 10px;
}
.recipe-cards-carousel {
    display: grid;
    gap: 10px;
}

