.recipe-cards-carousel-container {
    display: flex;
    align-items: stretch;
}

.recipe-cards-carousel-container > .arrow {
    cursor: pointer;
    background-color: var(--orange-light);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.recipe-cards-carousel-container > .arrow > svg {
    fill: var(--green-main);
}

.recipe-cards-carousel-container > .arrow:hover {
    background-color: var(--orange-main);
    transform: scale(1.1);
}
.recipe-cards-carousel-container > .arrow:hover > svg {
    fill: var(--yellow-main);
}

.recipe-cards-carousel-container > .arrow.prev {
    margin-right: 10px;
}

.recipe-cards-carousel-container > .arrow.next {
    margin-left: 10px;
}

/* .recipe-cards-carousel {
    display: grid;
    gap: 10px;
    width: 100%;
} */

.recipe-cards-carousel {
    display: flex;
    gap: 10px;
    width: 100%;
}

.recipe-cards-carousel > * {
    width: 100%;
}

@media only screen and (max-width: 700px) {
    .recipe-cards-carousel {
        flex-direction: column;
    }
    .recipe-cards-carousel > * {
        width: auto;
    }
}
