.recipe-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
}

.recipe-card {
    background-color: var(--secondary-bg);
    border-radius: 10px;
    display: grid;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;

    min-width: 400px;
}

.recipe-card:hover {
    filter: brightness(90%);
}

.recipe-card-stats {
    display: flex;
    flex-direction: row;
}

.recipe-card-stats > div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-inline: 1rem;
    width: 100%;
}

.recipe-card-name {
    font-size: 2rem;
    text-align: center;
}

.recipe-card-byline {
    text-align: center;
}

.recipe-card-description {
    text-align: center;
}

