nav#navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    position: fixed;
    width: 100%;
    min-width: 320px;
    height: var(--navbar-height);
    z-index: 1;
    background: var(--green-light);
}

.navbar-logo {
    margin-inline-start: 1vw;
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.navbar-logo > img {
    height: 2.5rem;
    width: 2.5rem;
}

.navbar-search {
    display: flex;
    align-items: center;
    margin-inline: auto;
    border-radius: 100vmax;
    background-color: var(--primary-bg);
    color: var(--green-main);
}

.navbar-search > input {
    width: 20rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    padding-inline-start: 2rem;
    padding-inline-end: 0.5rem;
}

@media only screen and (max-width: 800px) {
    .navbar-search {
        margin-inline: auto 0;
    }
    .navbar-search > input {
        width: 2.7rem;
    }
}

.navbar-search > div {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-inline-end: 0.5rem;
}

.navbar-search svg {
    fill: var(--green-main);
}

.navbar-search svg:hover {
    fill: var(--orange-main);
}

.navbar-link {
    display: block;
    text-align: center;
    padding: 10px;
    background: var(--green-light);
    min-width: 2vw;
}

.navbar-link:hover {
    filter: brightness(90%);
    color: var(--yellow-main);
    text-shadow: none;
}

.navbar-icon {
    fill: var(--orange-main);
}

a.navbar-link-active .navbar-icon {
    fill: var(--orange-main);
}
