aside#side-bar {
    padding: 10px;
    align-items: center;
    background: var(--secondary-bg);
    width: 40vw;
}

/*  */

article#recipe {
    padding: 10px;
    background: var(--primary-bg);
    width: 100%;
}

main {
    padding: 10px;
    background: var(--primary-bg);
}

main.contains-article-aside {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

@media only screen and (max-width: 900px) {
    main.contains-article-aside {
        flex-direction: column;
    }
    article#recipe {
        width: auto;
    }
    aside#side-bar {
        width: auto;
    }
}
