.recipe-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    width: 100%;
}
.recipe-tag {
    background-color: var(--orange-light);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.recipe-tag:hover,
.recipe-tag:visited:hover {
    background-color: var(--orange-main);
    color: var(--yellow-main);
    transform: scale(1.1);
}
