.loading-animation {
    --size: 50px;
    width: var(--size);
    height: var(--size);
    animation: spin 2s linear infinite;
    margin: calc(var(--size) * 2) 0 calc(var(--size) * 2) 0;
    margin-left: calc(50vw - calc(var(--size) / 2));
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
