nav#nav-bar {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: lightblue;
}
.navbar-link {
    background-color: lightblue;
}

.active {
    display: none;
}

.navbar-link:hover {
    background-color: aquamarine;
}

@media only screen and (max-width: 900px) {
    nav#nav-bar {
        flex-direction: column;
        width: fit-content;
    }
}
