nav#nav-bar {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--green-light);
}

/* .navbar-link {
    text-decoration: none;
    filter: brightness(90%);
} */

.active {
    display: none;
}

.navbar-link:hover {
    background-color: var(--green-light);
}

@media only screen and (max-width: 900px) {
    nav#nav-bar {
        flex-direction: column;
        width: fit-content;
    }
}
