nav.next-previous-arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: xx-large;
}
.top-arrows {
    top: 0;
}
.bootom-arrows {
    top: 100px;
    bottom: 0;
}

.arrow {
    text-decoration: none;
    color: green;
    display: block;
}

.arrow:hover {
    color: blueviolet;
}

.arrow-icon {
    fill: green;
    height: 50px;
    width: 50px;
}

.arrow-icon:hover {
    fill: red;
}
