nav.next-previous-arrows {
    display: flex;
    gap: 10px;
}
.top-arrows {
    top: 0;
}
.bootom-arrows {
    top: 100px;
    bottom: 0;
}

.arrow {
    text-decoration: none;
    color: green;
}

.arrow:hover {
    color: blueviolet;
}
