aside#side-bar {
    margin-top: var(--navbar-height);
    padding: 10px;
    align-items: center;
    background: var(--secondary-bg);
    width: 40vw;
}

/*  */

section#about {
    text-align: center;
}

main {
    flex: auto;
    padding: 10px;
    background: var(--primary-bg);
    margin-top: var(--navbar-height);
}

main.below-header {
    margin-top: 0;
}

main.contains-article-aside {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

@media only screen and (max-width: 900px) {
    main.contains-article-aside {
        flex-direction: column;
    }
    article#recipe {
        width: auto;
    }
    aside#side-bar {
        margin-top: 0;
        width: auto;
    }
}

