/*** imports ***/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

/*** end imports ***/

/*** layout ***/
:root {
    --navbar-height: 50px;
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    outline: red solid;
    background-color: var(--green-light);
}

div#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: auto;
}

footer {
    flex: none;
}

nav#nav-bar {
    display: flex;
    flex-direction: row;
    top: 0;
    position: fixed;
    width: 100%;
    min-width: 320px;
    height: var(--navbar-height);
    z-index: 1;
}

.navbar-link {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    background: var(--green-light);
}

.navbar-link:hover {
    filter: brightness(90%);
    color: var(--yellow-main);
    text-shadow: none;
}

.navbar-icon {
    fill: var(--orange-main);
}

a.navbar-link-active .navbar-icon {
    fill: var(--orange-main);
}

main {
    padding: 10px;
    background: var(--primary-bg);
    margin-top: var(--navbar-height);
    flex: auto;
}

main.below-header {
    margin-top: 0;
}

footer {
    text-align: center;
    padding: 10px;
    background: var(--green-main);
    color: var(--primary-bg);
    flex: none;
}

footer a,
footer a:visited {
    color: var(--green-light);
}

footer a:hover,
footer a:visited:hover {
    color: var(--yellow-main);
    text-shadow: 1px 1px 1px var(--yellow-main);
}

footer a:active,
footer a:visited:active {
    color: var(--green-light);
}

footer {
    bottom: 0;
}

/*** end layout ***/

/*** text and links ***/

body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--orange-main);
    text-align: center;
}

a,
a:visited {
    color: var(--green-main);
    text-decoration: none;
}

a:hover,
a:visited:hover {
    color: var(--orange-main);
    text-shadow: 1px 1px 1px var(--orange-main);
}

a:active,
a:visited:active {
    color: var(--yellow-main);
}

/*** end text and links ***/

/*** scrollbar ***/

/* html {
    overflow-y: overlay;
} */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--primary-bg);
    width: 10px;
    margin-top: var(--navbar-height);
}

::-webkit-scrollbar-thumb {
    background: var(--orange-main);
    outline: red;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    filter: brightness(50%);
}

/*** end scrollbar ***/
