form.cb-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    padding: 10px;
}

form.cb-form > * {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.cb-form-labelled {
    background-color: var(--secondary-bg);
    border: none;
    border-radius: 5px;
    padding: 2px 5px;
}

.cb-form-button {
    background-color: var(--secondary-bg);
    border: outset var(--secondary-bg);
    border-radius: 5px;
    padding: 2px 5px;
}

.cb-form-button:hover {
    cursor: pointer;
    filter: brightness(90%);
    border-color: var(--yellow-main);
}

.cb-form-button:active {
    border-style: inset;
}
