@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

:root {
    --navbar-height: 50px;
}

html {
    overflow-y: overlay;
    font-family: 'Rubik', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

div#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* text colours */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--orange-main);
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.centered-using-flex {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

#recipe-name {
    margin-bottom: 0;
}

#recipe-byline {
    font-size: larger;
}

h1 {
    font-size: xxx-large;
}
h2 {
    font-size: xx-large;
}

/* text selection */
*::selection {
    background: var(--yellow-main);
    color: var(--orange-main);
}

* br::selection {
    background: var(--yellow-main);
}

/* links */
a,
a:visited {
    /* border-radius: 5px; */
    color: var(--green-main);
    text-decoration: none;
}

a:hover,
a:visited:hover {
    color: var(--orange-main);
    text-shadow: 1px 1px 1px var(--orange-main);
}

a:active,
a:visited:active {
    color: var(--yellow-main);
}

hr {
    border: 1px solid var(--green-main);
    background: var(--green-main);
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--orange-main);
    outline: red;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    filter: brightness(50%);
}

